.body{
    margin: 0px;
    height: 2000px;
}
.header{
   display: flex;
   justify-content: space-between;
   background-color:rgba(40,22,2,255);
}
.Logo-cup-head{
    margin-left: 40px;
    width: 200px;
}
.Logo-name{
    font-family: Lobster ;
    color:white;
    font-size: 75px;
    margin: 20px;
    align-content: center;
}
.name-of-coffe{
    display: flex;
}
.HOME-bto, .MENU-bto ,.TABELS-bto{
  padding: 20px;
  font-size: 30px;
}
.best-cafe-text{
    font-family: Lobster;
    font-size: 100px;
    color: white;
    position: absolute;
    top:20%;
    left:8%;
}
.Body-background{
    position: relative; 
}
.texthomepage{
    font-size: 50px;
    color: white;
    position: absolute;
    top:31.5%;
    left:2%;
    text-align: center;
}
.logo-background{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 28%;
    left:47%;
}

.facebook-btn , .instagram-btn , .location-btn{
    width: 80px;
    border-radius: 40px;
    height:80px;
    border: none;
    display: flexbox;
    position: absolute;
    top: 85%;
    left: 10%;
}
.facebook-btn{
    background-image: url(facebook-round-color.svg);
}
.instagram-btn{
    background-image: url(instagram-color.svg);
    border: none;
    margin-left: 100px;
}
.location-btn{
    background-image: url(location.svg);
    background-size: 80px;
    margin-left: 200px;
}