.body{
    margin: 0px;
    height: 2000px;
}
.header{
   display: flex;
   justify-content: space-between;
}
.Logo-cup-head{
    margin-left: 50px;
    
}
.Logo-name{
    font-family: Lobster ;
    font-size: 75px;
    margin: 20px;
    align-content: center;
}
.name-of-coffe{
    display: flex;
}
.HOME-bto, .MENU-bto ,.TABELS-bto{
  padding: 20px;
  font-size: 30px;
}